# Pandas Tutorial 01 - Reading Files #


## Reading csv and excel files located in the same folder as the python file. ##

**First import NumPy and pandas.**

https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/02_read_write.html?highlight=pandas%20dataframe%20read

In [54]:
import numpy as np
import pandas as pd

### A small note on data structures ###

The data will be read as a DataFrame.

https://pandas.pydata.org/pandas-docs/stable/getting_started/dsintro.html

https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#viewing-data

### Reading a csv data file. ###

**<font color=purple>var_1 = pd.read_csv('file_name.csv')</font>**

In [55]:
sample_1 = pd.read_csv('2017_offshore_data.csv')

### Reading an excel data file. ###

**<font color=purple>var_1 = pd.read_excel('file_name.xlsx')</font>**

In [56]:
sample_2 = pd.read_excel('2017_offshore_data.xlsx')

### Printing selected rows including header. ###

In [58]:
# Printing first 3 rows including header
print(sample_1[0:3])

# Give type of data for each column
sample_1.dtypes

    #yr  mo  dy  hr  mn  deg  T m/s  m/s     m    sec  sec.1  deg.1  T   hPa  \
0  2016  12  31  23  50   58    6.5  7.7  2.00  12.12   6.19     47   1015.5
1  2017   1   1   0  50   55    7.0  8.4  2.01   8.33   6.39     78   1015.9
2  2017   1   1   1  50   61    8.3  9.5  2.02   7.69   6.12     82   1015.9

   degC  degC.1  degC.2    mi    ft
0  26.0    27.0    21.6  99.0  99.0
1  26.0    27.0    21.7  99.0  99.0
2  25.8    27.0    22.3  99.0  99.0

#yr          int64
mo           int64
dy           int64
hr           int64
mn           int64
deg          int64
T m/s      float64
m/s        float64
m          float64
sec        float64
sec.1      float64
deg.1        int64
T   hPa    float64
degC       float64
degC.1     float64
degC.2     float64
mi         float64
ft         float64
dtype: object

### Set a variable to reference a particular column by its header. ###

**<font color=purple>var_2 = var_1['name of column header']</font>**

If the column is printed after this, the header name no longer appears in the output.

In [35]:
#Referencing a column based on the header
time = sample_1['#yr']

### Referencing columns based on their headers ###

- Declare a variable to be used to print the desired columns.
- Use .loc[] to access the group of columns by their labels. (This can be used for rows too.)
- Can be sliced as seen in cell below.

**<font color=purple>var_3 = var_1.loc[]</font>**

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html

In [36]:
temp = sample_1.loc[:, 'degC':'degC.2']
print(temp[0:6])

   degC  degC.1  degC.2
0  26.0    27.0    21.6
1  26.0    27.0    21.7
2  25.8    27.0    22.3
3  25.9    27.0    22.2
4  25.7    27.0    22.0
5  25.8    27.0    22.2

### Analysing Data ###

- Calculating the mean of all rows (axis=1) or columns (axis=0).


 **<font color=purple>var_4 = np.mean(var_3, axis)</font>**

https://docs.scipy.org/doc/numpy/reference/generated/numpy.mean.html

In [42]:
# Average of all rows
avg_row = np.mean(temp,axis=1)

# Average of all columns
avg_col = np.mean(temp,axis=0)

print(avg_row[0:3])

print(avg_col)

0    24.866667
1    24.900000
2    25.033333
dtype: float64
degC      27.192888
degC.1    27.430792
degC.2    23.324627
dtype: float64

### Exporting the analysed data ###

Create a new array of data to include in the data file and set it as a new variable.

- Concatenate results(axis=1 means put columns next to each other):

    **<font color=purple>var_6 = pd.concat(var_5, axis)</font>**


- Alternatively, results can be concatenated without setting the array as a variable:

 **<font color=purple>var_6 = pd.concat([time, temp, avg_row], axis)</font>**
 

- Renaming a column:

 **<font color=purple>var_6 = var_6.rename(columns = {'original_column_name' : 'new_column_name')</font>**

https://www.geeksforgeeks.org/python-change-column-names-and-row-indexes-in-pandas-dataframe/

In [52]:
#creating a new array of data we want to include in the data file
analysed_data = [time, temp, avg_row]

#concatanating results
result = pd.concat(analysed_data, axis=1) 

# Renaming last column.
result = result.rename(columns = {0:'row_avg'})

print(result[0:5])

    #yr  degC  degC.1  degC.2    row_avg
0  2016  26.0    27.0    21.6  24.866667
1  2017  26.0    27.0    21.7  24.900000
2  2017  25.8    27.0    22.3  25.033333
3  2017  25.9    27.0    22.2  25.033333
4  2017  25.7    27.0    22.0  24.900000

### Writing analysed data to a file ###

- Write to csv or excel file.

**<font color=purple>.to_csv</font>**

**<font color=purple>.to_xlsx</font>**

- The file is created in the same folder as the python file.


**<font color=purple>var_6.to = var_6.to_file type('file_name.file_extension')</font>**

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html

In [45]:
result.to_csv('result.csv')
result.to_excel('result.xlsx')