# Pandas Tutorial 02 - Reading Files #


## Reading csv and excel files located in a different folder from the python file. ##

**First import NumPy and pandas.**

In [1]:
import numpy as np
import pandas as pd

### Reading an excel data file pd.ExcelFile() ###

**<font color=green>var_1 = pd.ExcelFile('file_path')</font>**

In [5]:
sample = pd.ExcelFile('C:\\Users\\User\\Desktop\\pandas_example\\sample.xlsx')

### View excel data. ###

1. Create an object and extract a particular sheet from it.

   **<font color=green>var_2 = var_1.parse('sheet_name')</font>**
   

2. ALternatively, the data can be read using:

   **<font color=green>var_2 = pd.ExcelFile('file_path).parse('sheet_name')</font>**  
   

3. The .head() function gives the top 5 records as a default.

In [6]:
data = sample.parse('data2') 

# Remove hash sign (#) below and use that line of code as alternative 
# Replace \ in file path with \\ for Windows
# data = pd.ExcelFile('C:\\Users\\User\\Desktop\\pandas_example\\sample.xlsx').parse('data2')

data.head()

           time          s1        s2          s3          s4  s5  s6  s7  s8
0  1.398489e+09  406.821114  414.7304  373.126443  375.749231 NaN NaN NaN NaN
1  1.398489e+09  393.779605  390.7304  363.568921  365.364615 NaN NaN NaN NaN
2  1.398489e+09  370.956963  378.7304  360.383080  358.441538 NaN NaN NaN NaN
3  1.398489e+09  362.806020  378.7304  360.383080  353.249231 NaN NaN NaN NaN
4  1.398489e+09  369.326774  390.7304  363.568921  358.441538 NaN NaN NaN NaN

### Reading an excel data file pd.read_excel() ###

**<font color=green>var_1 = pd.read_excel('file_path', sheet_number)</font>**

Sheet indexing starts from 0.

In [7]:
data = pd.read_excel('C:\\Users\\User\\Desktop\\pandas_example\\sample.xlsx', 1)